body {
    font-family: "Roboto", sans-serif;
}

#user_table::-webkit-scrollbar {
    height: 10px;
    background-color: #dadada;
    border-radius: 25px;
}

#user_table::-webkit-scrollbar-thumb {
    background-color: #757575;
    border-radius: 50px;
}

#user_table::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
    border-radius: 50px;
}

li::marker {
    color: red;  
    font-size: 1.5em;
}